:root {
  --verry-paleBlue: hsl(225, 100%, 98%);
  --bright-blue: hsl(245, 75%, 52%);
  --pale-blue: hsl(225, 100%, 94%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
}

h1,
h2,
button,
a {
  text-transform: capitalize;
}

h1,
h2 {
  color: var(--dark-blue);
  font-weight: 900;
}

p {
  color: var(--desaturated-blue);
}
a {
  text-decoration: none;
}
@font-face {
  font-family: RedHatDisplay;
  src: url(https://fonts.google.com/specimen/Red+Hat+Display);
}

body {
  background-color: var(--pale-blue);
  background-image: url(/images/pattern-background-desktop.svg);
  background-repeat: no-repeat;
  background-size: 100% 50%;
  font-family: RedHatDisplay;
  display: flex;
}
p {
  font-size: 16px;
}
.section {
  padding: 0;
  max-width: 30vw;
  text-align: center;
  margin: 0 auto;
  align-self: center;
  background-color: var(--verry-paleBlue);
  border-radius: var(--border-radius);
  height: 80%;
  box-shadow: 0 3px 15px -5px var(--desaturated-blue);
  vertical-align: middle;
}
img {
  width: 100%;
  height: auto;
}
.desc {
  text-align: center;
  width: 100%;
}
.annual-plan {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: var(--pale-blue);
  margin: 1rem 0;
  border-radius: var(--border-radius);
}
.favicon {
  height: 3rem;
  width: 3rem;
}

.btn {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1.5rem;
  background-color: var(--bright-blue);
  color: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 0 15px 20px var(--pale-blue);
}
.btn:hover {
  box-shadow: 0 4px 6px -1px var(--bright-blue), 0 2px 4px -1px var(--dark-blue);
}

.cancel-btn {
  margin-bottom: 3rem;
  color: var(--desaturated-blue);
  font-weight: 700;
}
.change {
  text-decoration: underline;
}
.main-content {
  padding: 1.75rem 3rem;
}

.hero-container img {
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
@media screen and (max-width: 1440px) {
  body {
    background-image: url(images/pattern-background-desktop.svg);
  }
}

@media screen and (max-width: 600px) {
  body {
    background-image: url(images/pattern-background-mobile.svg);
  }

  .section {
    min-width: 85vw;
    margin: 0 auto;
  }
}
